In [254]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [255]:
pwd=os.getcwd()
filepath=os.path.join(pwd,'Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
data_import=pd.read_csv(filepath)
data=data_import.copy()
#data.columns

In [256]:
filtered_data = data[(data['TopicDesc'] == 'Cigarette Use (Adults)') & (data['MeasureDesc'] == 'Current Smoking')]
grouped_data_2011_2019 = filtered_data.groupby(['YEAR','LocationAbbr','LocationDesc','Gender', 'Race', 'Age','Education','GeoLocation'])['Data_Value'].mean().reset_index()
#grouped_data_2011_2019

In [257]:
grouped_data_2011_2019.to_csv("Cigarette_Use_2011-2019.csv",index=False)

In [258]:
Old_data=pd.read_csv('BRFSS_Prevalence_and_Trends_Data__Tobacco_Use_-_Four_Level_Smoking_Data_for_1995-2010.csv')
Old_data['Data_Value']=100-Old_data['Never smoked']
Old_data.rename(columns={"Year":'YEAR','State':'LocationDesc'},inplace=True)
Old_data[['Gender','Race','Age','Education']]=['Overall','All Races','All Ages','All Grades']
#Old_data

In [259]:
New_data_overall=grouped_data_2011_2019[(grouped_data_2011_2019['Race']=='All Races')&(grouped_data_2011_2019['Age']=='All Ages')&(grouped_data_2011_2019['Education']=='All Grades')].reset_index(drop=True)
data_1995_2011=pd.concat([New_data_overall,Old_data], axis=0)

In [260]:
data_1995_2011=pd.concat([New_data_overall,Old_data], axis=0)

In [261]:
Loc_code=data_1995_2011.groupby(['LocationAbbr','LocationDesc'])['GeoLocation'].first().reset_index()
location_mapping=Loc_code.set_index('LocationDesc').to_dict()

In [262]:
data_1995_2011['LocationAbbr'] = data_1995_2011['LocationAbbr'].fillna(data_1995_2011['LocationDesc'].map(location_mapping['LocationAbbr']))
data_1995_2011['GeoLocation']=data_1995_2011['GeoLocation'].fillna(data_1995_2011['LocationDesc'].map(location_mapping['GeoLocation']))
data_1995_2011.drop(columns=['Smoke everyday','Smoke some days','Former smoker','Never smoked','Counties','States','Location 1'])

,YEAR,LocationAbbr,LocationDesc,Gender,Race,Age,Education,GeoLocation,Data_Value
0,2011,AK,Alaska,Female,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",23.0
1,2011,AK,Alaska,Male,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",22.9
2,2011,AK,Alaska,Overall,All Races,All Ages,All Grades,"(64.84507995700051, -147.72205903599973)",22.9
3,2011,AL,Alabama,Female,All Races,All Ages,All Grades,"(32.84057112200048, -86.63186076199969)",21.0
4,2011,AL,Alabama,Male,All Races,All Ages,All Grades,"(32.84057112200048, -86.63186076199969)",28.0
...,...,...,...,...,...,...,...,...,...
871,1995,VA,Virginia,Overall,All Races,All Ages,All Grades,"(37.54268067400045, -78.45789046299967)",46.5
872,1995,WA,Washington,Overall,All Races,All Ages,All Grades,"(47.52227862900048, -120.47001078999972)",49.8
873,1995,WV,West Virginia,Overall,All Races,All Ages,All Grades,"(38.66551020200046, -80.71264013499967)",48.9
874,1995,WI,Wisconsin,Overall,All Races,All Ages,All Grades,"(44.39319117400049, -89.81637074199966)",49.3
875,1995,WY,Wyoming,Overall,All Races,All Ages,All Grades,"(43.23554134300048, -108.10983035299967)",48.8

In [263]:
data_1995_2011.to_csv('Overall_Limited_data_1995-2019.csv')