In [17]:
import pandas as pd
import pandasql
import matplotlib.pyplot as plt
import os
from pandasql import sqldf
import seaborn as sns

In [18]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [19]:
def load_query(path):
    with open(path) as file:
        query=file.read()
    return query    
pysql=lambda q: sqldf(q,globals())

In [20]:
consumption_data=pd.read_csv('Yearly_consumption_change.csv')
tax_data=pd.read_csv('Yearly_tax_increase_percentage.csv')

In [21]:
consumption_data.head(5)

,State,Year,Gender,Race,Age,Education,Current_Consumption,Previous_Year_Consumption,Percent_Consumption_Change
0,Alabama,2012,Female,All Races,18 to 44 Years,All Grades,27.3,24.3,12.345679
1,Alabama,2012,Female,All Races,All Ages,All Grades,21.4,21.0,1.904762
2,Alabama,2012,Male,All Races,All Ages,All Grades,26.4,28.0,-5.714286
3,Alabama,2012,Overall,African American,All Ages,All Grades,22.0,20.7,6.280193
4,Alabama,2012,Overall,All Races,18 to 24 Years,All Grades,27.5,30.3,-9.240924

In [22]:
tax_data.head(5)

        State  Year  Current_Tax  Previous_Year_Tax  Percent_Tax_Increase
0      Alaska  2012        3.010              3.010                   0.0
1     Alabama  2012        1.435              1.435                   0.0
2    Arkansas  2012        2.160              2.160                   0.0
3     Arizona  2012        3.010              3.010                   0.0
4  California  2012        1.880              1.880                   0.0

In [27]:
elasticity_query=load_query('Elasticity.sql')
elasticity_study_data=pysql(elasticity_query)

In [28]:
elasticity_study_data[(elasticity_study_data['Race']=='All Races') &(elasticity_study_data['Gender']=='Overall')&(elasticity_study_data['Age']=='All Ages')]

,State,Year,Race,Gender,Age,Education,Current_Consumption,Previous_Year_Consumption,Current_Tax,Previous_Year_Tax
14,Alabama,2015,All Races,Overall,All Ages,All Grades,21.4,21.1,1.685,1.435
33,California,2017,All Races,Overall,All Ages,All Grades,11.3,11.0,3.880,1.880
52,Connecticut,2015,All Races,Overall,All Ages,All Grades,13.5,15.4,4.660,4.410
71,Connecticut,2016,All Races,Overall,All Ages,All Grades,13.3,13.5,4.910,4.660
90,Connecticut,2018,All Races,Overall,All Ages,All Grades,12.2,12.7,5.360,4.910
109,Delaware,2017,All Races,Overall,All Ages,All Grades,17.0,17.7,3.110,2.610
128,District of Columbia,2015,All Races,Overall,All Ages,All Grades,16.0,16.4,3.910,3.870
147,District of Columbia,2016,All Races,Overall,All Ages,All Grades,14.7,16.0,3.930,3.910
166,District of Columbia,2017,All Races,Overall,All Ages,All Grades,14.3,14.7,3.950,3.930
185,District of Columbia,2018,All Races,Overall,All Ages,All Grades,13.8,14.3,5.950,3.950
204,Illinois,2012,All Races,Overall,All Ages,All Grades,18.6,20.9,2.990,1.990
223,Illinois,2019,All Races,Overall,All Ages,All Grades,14.5,15.5,3.990,2.990
242,Kansas,2015,All Races,Overall,All Ages,All Grades,17.7,18.1,2.300,1.800
261,Kentucky,2018,All Races,Overall,All Ages,All Grades,23.4,24.6,2.110,1.610
280,Louisiana,2015,All Races,Overall,All Ages,All Grades,21.9,24.0,1.870,1.370
299,Louisiana,2016,All Races,Overall,All Ages,All Grades,22.8,21.9,2.090,1.870
318,Massachusetts,2013,All Races,Overall,All Ages,All Grades,16.6,16.4,4.520,3.520
337,Minnesota,2012,All Races,Overall,All Ages,All Grades,18.8,19.1,2.610,2.596
356,Minnesota,2013,All Races,Overall,All Ages,All Grades,18.0,18.8,4.333,2.610
375,Minnesota,2014,All Races,Overall,All Ages,All Grades,16.3,18.0,4.352,4.333
394,Minnesota,2015,All Races,Overall,All Ages,All Grades,16.2,16.3,4.436,4.352
413,Minnesota,2016,All Races,Overall,All Ages,All Grades,15.2,16.2,4.553,4.436
432,Minnesota,2017,All Races,Overall,All Ages,All Grades,14.5,15.2,4.600,4.553
451,Minnesota,2018,All Races,Overall,All Ages,All Grades,15.1,14.5,4.624,4.600
470,Minnesota,2019,All Races,Overall,All Ages,All Grades,14.6,15.1,4.638,4.624
489,Nevada,2015,All Races,Overall,All Ages,All Grades,17.5,17.0,2.810,1.810
508,New Hampshire,2013,All Races,Overall,All Ages,All Grades,16.2,17.2,2.790,2.690
527,New Mexico,2019,All Races,Overall,All Ages,All Grades,16.0,15.2,3.010,2.670
546,Ohio,2015,All Races,Overall,All Ages,All Grades,21.6,21.0,2.610,2.260
565,Oklahoma,2018,All Races,Overall,All Ages,All Grades,19.7,20.1,3.040,2.040
584,Oregon,2014,All Races,Overall,All Ages,All Grades,17.0,17.3,2.320,2.190
603,Oregon,2016,All Races,Overall,All Ages,All Grades,16.2,17.1,2.330,2.320
622,Pennsylvania,2016,All Races,Overall,All Ages,All Grades,18.0,18.1,3.610,2.610
641,Rhode Island,2012,All Races,Overall,All Ages,All Grades,17.4,20.0,4.510,4.470
660,Rhode Island,2015,All Races,Overall,All Ages,All Grades,15.5,16.3,4.760,4.510
679,Rhode Island,2017,All Races,Overall,All Ages,All Grades,14.9,14.4,5.260,4.760
698,Vermont,2015,All Races,Overall,All Ages,All Grades,16.0,16.4,4.090,3.630
717,West Virginia,2016,All Races,Overall,All Ages,All Grades,24.8,25.7,2.210,1.560

In [29]:
elasticity_study_data.to_csv('Elasticity_Study_Data.csv',index=False)