In [1]:
import pandas as pd
import pandasql
import matplotlib.pyplot as plt
import os
from pandasql import sqldf
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [7]:
def load_query(path):
    with open(path) as file:
        query=file.read()
    return query    
pysql=lambda q: sqldf(q,globals())

In [4]:
population=pd.read_csv('US_Population_Census_Data.csv')
population.drop(columns=['Census', 'Estimates Base'],inplace=True)

In [5]:
population=pd.melt(population,id_vars=['Geographic Area'],value_vars=['2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019'],value_name='Population',var_name='Year')
population['Population'] = population['Population'].str.replace(',', '', regex=True).astype(float)
population.head(5)

  Geographic Area  Year   Population
0   United States  2010  309321666.0
1       Northeast  2010   55380134.0
2         Midwest  2010   66974416.0
3           South  2010  114866680.0
4            West  2010   72100436.0

In [8]:
Population_query=load_query('Population_query.sql')
Population_data=pysql(Population_query)
Population_data.head(5)

   Year       State  Population_percentage
0  2010     Alabama                   1.55
1  2010      Alaska                   0.23
2  2010     Arizona                   2.07
3  2010    Arkansas                   0.94
4  2010  California                  12.06